*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9AA6B2;
}

.logIn-container > * {
    padding:2rem;
}

.logIn-container {
    height: 50vh;
    width: 40vh;
    background-color:#F8FAFC;
    /* padding:0 3rem 0 2rem; */
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUp-container{
    height: auto;
    width: 40vh;
    background-color:#F8FAFC;
    padding:0 3rem 0 2rem;  
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form{
    margin:2rem 0 2rem 0;
}

/* form input{
    width:100%;
    border:none;
    outline:none;
    background-color: transparent;
    //border-radius:0.75rem; 
}

form input {
    height: 2rem;
    opacity: 0.7;
    cursor:pointer;
    font-size: 1rem;
    padding-left: 0.5rem;
    border-bottom:1px solid black ;

} */
.inlabel{
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.inlabel input{
    width: 100%;
    border: none;
    border-bottom:1px solid black;
    outline: none;
    background-color: transparent;
    font-size:1rem;
    padding:10px 5px 5px 5px;
}

.inlabel label{
    position: absolute;
    left: 5px;
    top:10px;
    color:gray;
    font-size:1rem;
    pointer-events: none;
    transition: 0.3s ease;
}

.inlabel input:focus + label,
.inlabel input:not(:placeholder-shown) + label {
    top: -10px;
    font-size:0.8rem;
    color:#9AA6B2;
}

.ind-btn{
    height: 3rem;
    width:25%;
    justify-content: center;
    border:none;
    border-radius: 2.5rem;
  
;
}

.btn{
    width: 100%;
    text-align: center;
    margin-bottom:0.7rem;
}

.btn button{
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn button:hover{
    transform: scale(1.1);
    background-color: black;
    color:white;
}

.In p{
    font-size: large;
    padding:2rem 2rem 2rem 0;
    cursor: pointer;
}

form h2{
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.logIn-container p, input {
    padding-top:1.5rem;
}

.logIn-container, .signUp-container{
    background: white;
    box-shadow: 0px 8px 20px rgba(0, 0, 0,0.9);
    animation: fadeIn 0.8s ease; 
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}