*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightgray;
}

.logIn-container > * {
    padding:2rem;
}

.logIn-container {
    height: 50vh;
    width: 40vh;
    background-color:lightsteelblue;
    /* padding:0 3rem 0 2rem; */
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUp-container{
    height: 55vh;
    width: 40vh;
    background-color:lightsteelblue;
    padding:0 3rem 0 2rem;  
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

form{
    margin:2rem 0 2rem 0;
}

form input{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem;
}

form input {
    height: 2rem;
    opacity: 0.7;
    cursor:pointer;
    font-size: 1rem;
    padding-left: 0.5rem;

}

.ind-btn{
    height: 1.5rem;
    width:25%;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
}

.btn{
    width: 100%;
    text-align: center;
}

.In p{
    font-size: large;
    padding:1rem;
    cursor: pointer;
}

form h2{
    text-align: center;
}

